.top-comments-container {
  margin-top: 2%; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1%; /* Adjust as needed */
  background-color: #f9f9f9;
  animation: fadeIn 0.5s ease;
}

.allclass {
  margin-top: auto; /* Adjust as needed */
}

.slideshow-container {
    animation: slideIn 1s ease;
    max-width: 90vw; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;

}

.slick-slide img {
    width: auto; /* Adjust as needed */
    height: 80vh; /* Adjust as needed */
    align-items: center;
}

.slick-slide img:hover {
    transform: scale(1.10); /* Added hover effect to scale the product */
}
.chart-container {
  margin-top: 5vh; /* Adjust as needed */
}

.comment-item {
  margin-bottom: 1%; /* Adjust as needed */
  padding: 1%; /* Adjust as needed */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  animation: slideIn 0.5s ease;
}

.comment-item strong {
  color: #333;
}
.top-comments-container {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-comments-container h2 {
  margin-bottom: 10px;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.comment-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-2vh); /* Adjust as needed */
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
