.top-comments-container {
  margin-top: 2%; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1%; /* Adjust as needed */
  background-color: #f9f9f9;
  animation: fadeIn 0.5s ease;
}

.allclass {
  margin-top: 70vh; /* Adjust as needed */
}

.slideshow-container {
    animation: slideIn 1s ease;
    max-width: 80vw; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;

}

.slick-slide img {
    width: 20vw; /* Adjust as needed */
    height: 60vh; /* Adjust as needed */
    align-items: center;
}

.slick-slide img:hover {
    transform: scale(1.10); /* Added hover effect to scale the product */
}
.chart-container {
  margin-top: 5vh; /* Adjust as needed */
}

.comment-item {
  margin-bottom: 1%; /* Adjust as needed */
  padding: 1%; /* Adjust as needed */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  animation: slideIn 0.5s ease;
}

.comment-item strong {
  color: #333;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-2vh); /* Adjust as needed */
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
