/* HomeAdmin.css */

.home-admin-container {
  display: flex;
  position: relative;
}

.sidebar {

  top: 0; 
  left: 0;
  width: 20%; 
  height: auto; 
  max-width: 150px;
  background-color: #222;
  color: #fff;
  padding: 5px;
  transition: width 0.3s ease-in-out;
  overflow-y: fixed;
  scrollbar-width: thin;
  scrollbar-color: #888 #222;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  transition: margin-left 0.3s ease-in-out; /* Efect de tranziție pentru margin-left */
}


.profile-picture {
  width: 100%; /* Folosim 20% din lățimea ferestrei de vizualizare pentru imagine */
  max-width: 120px; /* Limităm lățimea maximă a imaginii */
  height: auto; /* Înălțimea se va scala proporțional cu lățimea */
  border-radius: 50%; /* Păstrăm conturul în formă de cerc */
  margin-bottom: 5%; /* Folosim 5% din înălțimea ferestrei de vizualizare pentru a menține distanța */
  margin-top: 5%; /* Folosim 5% din înălțimea ferestrei de vizualizare pentru a menține distanța */
  display: block; /* Setăm afișarea ca bloc pentru a putea centra */
  margin-left: auto; /* Centrăm imaginea pe orizontală */
  margin-right: auto; /* Centrăm imaginea pe orizontală */
}

.sidebar h2 {
  text-align: center; /* CentrÄƒm titlul */
  font-size: 24px; /* MÄƒrim dimensiunea textului */
  margin-top: 20px; /* SpaÈ›iu suplimentar Ã®ntre titlu È™i imagine */
}

.sidebar h2 span {
  display: block; 
  font-size: 18px; 
  margin-top: 10px; 
  color: #666;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center; /* CentrÄƒm titlul */
  font-size: auto;; /* MÄƒrim dimensiunea textului */
  margin-top: 16px; /* SpaÈ›iu suplimentar Ã®ntre titlu È™i imagine */
  color: #13b894;
  
}

.sidebar li {
  margin-bottom: 30px; /* Increased margin between items */
}

.sidebar li.active {
  background-color: #444;
  border-radius: 10px;
}

.sidebar li:hover {
  background-color: #555;
  cursor: pointer;
}



/* Styling for the toggle button */
.toggle-button {
  position: absolute;
  top: 5px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
  
}

.bar {
  width: 25px;
  height: 3px;
  background-color:#13b894;
  margin: 4px 0;
  transition: 0.4s;
  
}

.bar-open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bar-open .bar:nth-child(2) {
  opacity: 0;
}

.bar-open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Styling for the collapsed sidebar */
.sidebar-closed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

.sidebar-closed .main-content {
  margin-left: 0;
}

.sidebar-closed .toggle-button {
  left: 5px;
}

